# This is an example lightswitch configuration file.
"configfile" : "Path to configuration file" > configfile < file
"-V" | "--verbose" : "Toggle verbosity" > verbosity
"-b="* | "--b="* : "File test" > aa < file
